
html,body{
  height: 100%; 
 font-family: Lato-light;
 }

 body
 {
   overflow-x: hidden;
 }
 @font-face{
   font-family: Lato-light;
   src: url(../src/fonts/Lato-Light.woff);
 }
 @font-face{
   font-family: Lato-bold;
   src: url(../src/fonts/lato-bold.woff);
 }
 h1, h2, h3, h4, h5, h6, p ,a, span, label
 {
 font-family: Lato-light;
 }
 
 .login_con .container{
 height: 100vh;
 align-content: center;
 }
 
 .login_div .card{
 height: 400px;
 margin-top: 4em;
 margin-bottom: auto;
 width: 400px;
 background-color: #fff !important;
 border-radius: 36px;
     border: 0;
 }
 .login_div .card-body {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto;
     padding: 1.25rem 3rem;
 }
 .login_div .card label
 {
       font-size: 14px;
     font-weight: 600;
 }
 .social_icon span{
 font-size: 60px;
 margin-left: 10px;
 color: #FFC312;
 }
 
 .social_icon span:hover{
 color: white;
 cursor: pointer;
 }
 
 .login_div .card-header
 {
   background: #fff !important;
     border: 0;
     text-align: center;
     margin: 2em 0 0;
 }
 .login_div .card-header h3{
 color: white;
 }
 
 .social_icon{
 position: absolute;
 right: 20px;
 top: -45px;
 }
 
 .input-group-prepend span{
 width: 50px;
 background-color: #FFC312 !important;
 color: black;
 border:0 !important;
 }
 
 input:focus{
 outline: 0 0 0 0  !important;
 box-shadow: 0 0 0 0 !important;
 
 }
 
 .remember{
 color: white;
 }
 
 .remember input
 {
 width: 20px;
 height: 20px;
 margin-left: 15px;
 margin-right: 5px;
 }
 
 .login_btn{
       background-color: #4f1140;
       width: 100%;
       margin-top: 20px;
       color: #fff;
       margin-bottom: 20px;}
 
 .login_btn:hover{
   color: white;
       background-color: rgba(90, 28, 75, 0.9);
 }
 
 .links{
 color: white;
 }
 
 .links a{
 margin-left: 4px;
 }
 .demo_video
 {
   text-align: center;
 margin: 4em 0 0;
 position: relative;
 }
 .demo_video a
 {
   color: #fff;
   border-right: 1px solid #fff;
 padding: 0 8px;
 }
 .demo_video a:last-child
 {
   border-right: 0;
 }
 a:hover
 {
   text-underline-position: under;
 }
 
 .login_div .card:after{
     content: ' ';
     position: absolute;
     width: 0;
     height: 0;
     left: 38px;
   right: auto;
   top: auto;
   bottom: -28px;
 border: 18px solid;
     border-color: #fff transparent transparent #fff;
 }
 .demo_video i
 {
   color: #fff;
 margin-right: 12px;
 font-size: 23px;
 margin-top: 3px;
 }
 
 .demo_video_icon
 {
   background: url(../src/img/video-icon.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   height: 111px;
   position: relative;
   left: -50px;
 
 }
 .video_link
 {
   position: absolute;
     width: 100%;
     top: 43px;
     left: 0;
 }
 .bot_div
 {
   padding: 15px 0;
   margin: 1em 0;
   position: relative;
 }
 .bot_content
 {
   position: absolute;
     bottom: 35px;
     width: 100%;
     padding: 20px;
 }
 .m-t-2
 {
       margin: 2em 0;
 }
 .icon_mic
 {
       margin-left: 25px;
       position: relative;
 right: 0;
     bottom: -22px;
 }
 .icon_mic a i
 {
   background: #fff;
 color: #682f54;
 padding: 0.5em 0.7em;
     font-size: 14px;
 border-radius: 50%;
 }
 .icon_mic span i
 {
   background: #fff;
 color: #682f54;
 padding: 0.5em 0.7em;
     font-size: 14px;
 border-radius: 50%;
 }
 .icon_mic a
 {
   color: #fff;
   text-decoration: none;
   font-size: 9px;
     text-transform: uppercase;
 }
 .icon_mic span
 {
   color: #fff;
   text-decoration: none;
   font-size: 9px;
     text-transform: uppercase;
 }
 .bot_title
 {
   font-size: 40px;
 color: #fff;
 text-transform: uppercase;
 font-family: Lato-bold;
 line-height: 40px;
 vertical-align: baseline;
 }
 .bot_title:hover
 {
   color: #fff;
   text-decoration: none;
 }
 .bot_div h1
 {
   text-transform: uppercase;
 font-family: Lato-bold;
 color: #fff;
     padding: 0 1em;
 }
 /**
  * Extracted from: SweetAlert
  * Modified by: Istiak Tridip
  */
 .success-checkmark {
   width: 80px;
   height: 115px;
   margin: 0 auto;
 }
 .success-checkmark .check-icon {
   width: 80px;
   height: 80px;
   position: relative;
   border-radius: 50%;
   box-sizing: content-box;
   border: 4px solid #4CAF50;
 }
 .success-checkmark .check-icon::before {
   top: 3px;
   left: -2px;
   width: 30px;
   transform-origin: 100% 50%;
   border-radius: 100px 0 0 100px;
 }
 .success-checkmark .check-icon::after {
   top: 0;
   left: 30px;
   width: 60px;
   transform-origin: 0 50%;
   border-radius: 0 100px 100px 0;
   animation: rotate-circle 4.25s ease-in;
 }
 .success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
   content: '';
   height: 100px;
   position: absolute;
   background: #FFFFFF;
   transform: rotate(-45deg);
 }
 .success-checkmark .check-icon .icon-line {
   height: 5px;
   background-color: #4CAF50;
   display: block;
   border-radius: 2px;
   position: absolute;
   z-index: 10;
 }
 .success-checkmark .check-icon .icon-line.line-tip {
   top: 46px;
   left: 14px;
   width: 25px;
   transform: rotate(45deg);
   animation: icon-line-tip 0.75s;
 }
 .success-checkmark .check-icon .icon-line.line-long {
   top: 38px;
   right: 8px;
   width: 47px;
   transform: rotate(-45deg);
   animation: icon-line-long 0.75s;
 }
 .success-checkmark .check-icon .icon-circle {
   top: -4px;
   left: -4px;
   z-index: 10;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   position: absolute;
   box-sizing: content-box;
   border: 4px solid rgba(76, 175, 80, 0.5);
 }
 .success-checkmark .check-icon .icon-fix {
   top: 8px;
   width: 5px;
   left: 26px;
   z-index: 1;
   height: 85px;
   position: absolute;
   transform: rotate(-45deg);
   background-color: #FFFFFF;
 }
 
 @keyframes rotate-circle {
   0% {
     transform: rotate(-45deg);
   }
   5% {
     transform: rotate(-45deg);
   }
   12% {
     transform: rotate(-405deg);
   }
   100% {
     transform: rotate(-405deg);
   }
 }
 @keyframes icon-line-tip {
   0% {
     width: 0;
     left: 1px;
     top: 19px;
   }
   54% {
     width: 0;
     left: 1px;
     top: 19px;
   }
   70% {
     width: 50px;
     left: -8px;
     top: 37px;
   }
   84% {
     width: 17px;
     left: 21px;
     top: 48px;
   }
   100% {
     width: 25px;
     left: 14px;
     top: 45px;
   }
 }
 @keyframes icon-line-long {
   0% {
     width: 0;
     right: 46px;
     top: 54px;
   }
   65% {
     width: 0;
     right: 46px;
     top: 54px;
   }
   84% {
     width: 55px;
     right: 0px;
     top: 35px;
   }
   100% {
     width: 47px;
     right: 8px;
     top: 38px;
   }
 }
 .modal-header
 {
   border: 0;
 }
 .modal-body h1
 {
   color: #682f55;
 font-weight: 600;
 }
 .modal-body p
 {
   font-weight: bold;
   margin-bottom: 2em;
 }
 .modal-content
 {
   border-radius: 40px;
 border: 0;
 
 }
 .close:focus, .close:hover
 {
   outline: 0;
 }
 @media (max-width: 768px) {
   .demo_video {
     text-align: center;
     margin: 0;
     position: relative;
 }
 .demo_video_icon {
     background: none;
 }
 body
 {
   overflow: auto;
 }
 .bot_content {
     position: absolute;
     bottom: 55px;
     width: 100%;
     padding: 20px;
 }
 }
 @media (min-width: 576px) and (max-width: 990px)
 {
     .bot_title {
     font-size: 23px;
     color: #fff;
     text-transform: uppercase;
     font-family: Lato-bold;
     line-height: 31px;
     vertical-align: baseline;
 }
 .icon_mic {
     margin-left: 25px;
     position: relative;
     right: 0;
     bottom: 0;
 }
 .bot_content {
     position: absolute;
     bottom: 13px;
     width: 100%;
     padding: 20px;
 }
 }
 .chat{
             /* margin-top: 4em; */
             margin-bottom: auto;
         }
         .chat .card{
             height: 500px;
             border-radius: 15px !important;
       background-color: #f1f1f1 !important;
       border: 0;
         }
         .contacts_body{
             padding:  0.75rem 0 !important;
             overflow-y: auto;
             white-space: nowrap;
         }
         .msg_card_body{
             overflow-y: auto;
             /* background:#f1f1f1 !important; */
         }
     .chat	.card-header{
             border-radius: 15px 15px 0 0 !important;
             border-bottom: 0 !important;
       /* background: #63294f !important; */
       padding: 0 15px;
         }
 .chat	 .card-footer{
         border-radius: 0 0 15px 15px !important;
             border-top: 0 !important;
       background: #ebedec;
     }
   .bd-highlight
   {
     height: 60px;
   }
         .container{
             align-content: center;
         }
         .search{
             border-radius: 15px 0 0 15px !important;
             background-color: rgba(0,0,0,0.3) !important;
             border:0 !important;
             color:white !important;
         }
         .search:focus{
              box-shadow:none !important;
            outline:0px !important;
         }
         .type_msg{
       background-color: rgba(255, 255, 255, 1) !important;
 border: 0 !important;
 color: black !important;
 height: 40px !important;
 overflow-y: auto;
         }
             .type_msg:focus{
              box-shadow:none !important;
            outline:0px !important;
         }
         .attach_btn{
       border-radius: 7px !important;
         background-color: #464847 !important;
             border:0 !important;
             color: white !important;
             cursor: pointer;
         }
         .send_btn{
       border-radius: 7px !important;
     background-color: #63294f !important;
             border:0 !important;
             color: white !important;
             cursor: pointer;
         }
         .search_btn{
             border-radius: 0 15px 15px 0 !important;
             background-color: rgba(0,0,0,0.3) !important;
             border:0 !important;
             color: white !important;
             cursor: pointer;
         }
         .contacts{
             list-style: none;
             padding: 0;
         }
         .contacts li{
             width: 100% !important;
             padding: 5px 10px;
             margin-bottom: 15px !important;
         }
     .active{
             background-color:white;
     }
         .user_img{
             height: 70px;
             width: 70px;
             border: 0;
 
         }
         .user_img_msg{
             height: 40px;
             width: 40px;
             border:1.5px solid #f5f6fa;
 
         }
     .img_cont{
             position: relative;
             height: 70px;
             width: 70px;
           bottom: 35px;
     }
     .img_cont_msg{
             height: 40px;
             width: 40px;
     }
 
     .online_icon{
         position: absolute;
         height: 15px;
         width:15px;
         background-color: #4cd137;
         border-radius: 50%;
         bottom: 0.2em;
         right: 0.4em;
         border:1.5px solid white;
     }
     .offline{
         background-color: #c23616 !important;
     }
     .user_info{
         margin: 7px 0 0 15px;
     }
     .user_info span{
         font-size: 20px;
         color: white;
     }
     .user_info p{
     font-size: 10px;
     color: rgba(255,255,255,0.6);
     }
     .video_cam{
         margin-left: 50px;
         margin-top: 5px;
     }
     .video_cam span{
         color: white;
         font-size: 20px;
         cursor: pointer;
         margin-right: 20px;
     }
     .msg_cotainer{
         margin-top: auto;
         margin-bottom: auto;
         margin-left: 15px;
         border-radius: 8px;
         background-color: #ffffff !important;
         padding: 10px;
         position: relative;
         width: auto;
     }
     .msg_cotainer_send{
         margin-top: auto;
         margin-bottom: auto;
         margin-right: 16px;
     border-radius: 15px;
   background-color: #ffffff !important;
         padding: 10px;
         position: relative;
         width: auto;
         
     }
     .msg_time{
         position: absolute;
         left: 0;
         bottom: -18px;
     color: rgba(0, 0, 0, 0.8);
         font-size: 10px;
     }
     .msg_time_send{
         position: absolute;
         right:0;
         bottom: -18px;
         color: rgba(0,0,0,0.8);
         font-size: 10px;
     }
     .msg_head{
         position: relative;
     }
     #action_menu_btn{
         position: absolute;
         right: 10px;
         top: 10px;
         color: white;
         cursor: pointer;
         font-size: 20px;
     }
     .action_menu{
         z-index: 1;
         position: absolute;
         padding: 15px 0;
         background-color: rgba(0,0,0,0.5);
         color: white;
         border-radius: 15px;
         top: 30px;
         right: 15px;
         display: none;
     }
     .action_menu ul{
         list-style: none;
         padding: 0;
     margin: 0;
     }
     .action_menu ul li{
         width: 100%;
         padding: 10px 15px;
         margin-bottom: 5px;
     }
     .action_menu ul li i{
         padding-right: 10px;
 
     }
     .action_menu ul li:hover{
         cursor: pointer;
         background-color: rgba(0,0,0,0.2);
     }
     @media(max-width: 576px){
     .contacts_card{
         margin-bottom: 15px !important;
     }
     }
 
   .chat_welcome_title h2
   {
     color: #63294f;
     font-weight: 600;
   }
 .chat_welcome_title
 {
       margin: 3em 1em 2em;
 }
   .chat_welcome_title h2 span
   {
     color: #63294f;
     font-family: Lato-bold
   }
 .chat_welcome_title p
 {
     font-weight: 600;
 }
 .hr_btn button
 {
   background: transparent;
 border: 1px solid #63294f;
 padding: 6px 7px;
 border-radius: 7px;
 transition: 0.3s all ease;
     font-size: 13px;
     margin: 6px 0;
     width: 100%;
 }
 .hr_btn button:hover
 {
   cursor: pointer;
   background: #63294f;
   color: #fff;
 }
 .hr_btn a
 {
   border: 1px solid #63294f;
 padding: 15px 5px;
 text-align: center;
 height: 60px;
 margin: 6px 0;
   color: #000;
 }
 .chat_welcome
 {
   margin-bottom: 4em;
 }
 .img_chat
 {
         width: 260px;
     height: auto;
     object-fit: cover;
         filter: blur(8px);
     -webkit-filter: blur(2px);
 }
 
 .card-img-overlay
 {
     
     margin: 10px;
     text-align: center;
 }
 .card-img-overlay i
 {
     color: #fff;
     position: relative;
         cursor: pointer;
     top: 47%;
     font-size: 25px;
 }
 .pdf_chat
 {
         background: #d8d9d9;
     padding: 1em 1em 0;
         border-radius: 15px;
 }
 .pdf_chat h4
 {
         font-size: 18px;
     font-weight: 600;
     margin:0;
 }
 .pdf_chat span
 {
         font-size: 10px;
     font-weight: 600;
 }
 .file_btn
 {
     width: 100%;
     margin: 8px 0 0;
     background: #63294f;
     color: #fff;
     border: 0;
     padding: 7px 0;
     border-radius: 15px;
 }
 .pdf_chat p
 {
     font-size: 11px;
     text-transform: uppercase;
     padding: 20px 0;
         margin: 0;
 }
 .pdf_chat p i
 {
         font-size: 15px;
     margin-right: 7px;
 }
 .msg_cotainer_send:after
 {
     width: 0;
     height: 0;
     content: "";
     top: 19px;
     right: -12px;
     position: absolute;
     border-style: solid;
     border-width: 13px 13px 0 0;
     border-color: white transparent transparent transparent;
 }
 .msg_cotainer:before
 {
     width: 0;
     height: 0;
     content: "";
     top: 15px;
     left: -12px;
     position: absolute;
     border-style: solid;
     border-width: 13px 0px 0 13px;
     border-color: white transparent transparent transparent;
 }
 .nella_div
 {
         padding: 3em 0;
 }
 .chat_dash
 {
         background: #333;
     padding: 2em 0;
 }
 .about_nella h1
 {
         font-weight: 600;
     text-transform: uppercase;
     font-size: 32px;
 }
 .about_nella h5, p
 {
         font-weight: 600;
 }
 .feature_list
 {
     margin: 2em 0 1em;
 }
 .feature_img
 {
       margin: 2em 0 1em;
 }
 .feature_list ul
 {
         text-align: justify;
 }

.card {
 height: 400px !important;
 margin-top: 6em !important;
   margin-left: 0em !important;
   border-radius: 30px !important;
}


@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*,
*:before,
*:after {
  box-sizing: border-box;
}

.slide-container {
  margin: auto;
  width: 300px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper:focus {
  outline: 0;
}

.clash-card {
  background: white;
  width: 200px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.clash-card__image {
  position: relative;
  height: 80px;
  margin-bottom: 23px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.clash-card__image--barbarian {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg");
}
.clash-card__image--barbarian img {
  width: 129px;
  position: absolute;
  top: -13px;
  left: 37px;
}

.clash-card__image--archer {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg");
}
.clash-card__image--archer img {
  width: 400px;
  position: absolute;
  top: -34px;
  left: -37px;
}

.clash-card__image--giant {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg");
}
.clash-card__image--giant img {
  width: 340px;
  position: absolute;
  top: -30px;
  left: -25px;
}

.clash-card__image--goblin {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg");
}
.clash-card__image--goblin img {
  width: 370px;
  position: absolute;
  top: -21px;
  left: -37px;
}

.clash-card__image--wizard {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg");
}
.clash-card__image--wizard img {
  width: 345px;
  position: absolute;
  top: -28px;
  left: -10px;
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 0px;
}

.clash-card__level--barbarian {
  color: #ec9b3b;
}

.clash-card__level--archer {
  color: #ee5487;
}

.clash-card__level--giant {
  color: #f6901a;
}

.clash-card__level--goblin {
  color: #82bb30;
}

.clash-card__level--wizard {
  color: #4facff;
}

.clash-card__unit-name {
  font-size: 16px;
  color: black;
  font-weight: 900;
  margin-bottom: 0px;
}

.clash-card__unit-description {
  margin-top: 15px;
  padding: 1px;
  margin-bottom: 0px;
  font-size: 10px;
}

.clash-card__unit-stats--barbarian {
  background: #ec9b3b;
}
.clash-card__unit-stats--barbarian .one-third {
  border-right: 1px solid #bd7c2f;
}

.clash-card__unit-stats--archer {
  background: #ee5487;
}
.clash-card__unit-stats--archer .one-third {
  border-right: 1px solid #d04976;
}

.clash-card__unit-stats--giant {
  background: #f6901a;
}
.clash-card__unit-stats--giant .one-third {
  border-right: 1px solid #de7b09;
}

.clash-card__unit-stats--goblin {
  background: #82bb30;
}
.clash-card__unit-stats--goblin .one-third {
  border-right: 1px solid #71a32a;
}

.clash-card__unit-stats--wizard {
  background: #4facff;
}
.clash-card__unit-stats--wizard .one-third {
  border-right: 1px solid #309eff;
}

.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.clash-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 10px 15px;
}
.clash-card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.clash-card__unit-stats .stat {
  position: relative;
  font-size: 14px;
  margin-bottom: 0px;
}
.clash-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
}
.clash-card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

.slick-prev {
left: 100px;
z-index: 999;
}

.slick-next {
right: 100px;
z-index: 999;
}

.carousel-control-prev-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.stat {
 color: black;
 font-size: 7px !important;
}

.notification{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin:10px;
}
.carousel.slide{
  max-width: 300px !important;
}