$background-color: #eff6fb;
$text-color: #00008B;
$border-color: #b7b7b7;
$page-header-background: #fedd92;
$page-header-text: #806d6d;
$gradient-first-color: #d3d3d3;
$gradient-second-color: #e8e8e8;
$black: #171717;
$white: #ffffff;
$textbox-error-notification:#DF5E54;
